events {}
http {
    upstream backend {
        least_conn;
        server {{upstream_backend_server}};
}
    server {
	      location / {
	        proxy_pass http://{{host_private_ip}};
        }
    }
}